.noteChoice{
  width: 10%;
  height:50%;
  background:white;
  display:inline-block;
  margin:1px;
  border-width:1px;
  border-style:solid;
  border-color:white;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  text-align:center;
}

.selected{
  border-color:blue;
}

body{
  background:#D2315D;
  align-content: center;
}
