html
  head
    title= "Trusty Pianos Inc."    
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    link(rel='stylesheet', href='/css/piano.css')
  body
    #C.noteChoice C
    #D.noteChoice D
    #E.noteChoice E
    #F.noteChoice F
    #G.noteChoice G
    #A.noteChoice A
    #B.noteChoice B
    
    script(src='/js/pianoClient.js')
        
